- content_for :header, "Dashboard"
.panel.panel-primary
  .panel-heading Add new Pickup
  .panel-footer
    = render 'pickups/form'
.panel.panel-primary
  .panel-heading All your pickups
  .panel-footer
    - if @pickups.present?
      = render 'pickups/index'
    - else
      %table
        %caption There are no pickups yet

= render 'passenger_dashboards/dialog'