- content_for :header, "Dashboard"
.panel.panel-primary
  .panel-heading Add new Trip
  .panel-footer
    = render 'trips/form'
.panel.panel-primary
  .panel-heading All your trips
  .panel-footer
    - if @trips.present?
      = render 'trips/index'
    - else
      %table
        %caption There are no trips yet

= render 'driver_dashboards/dialog'