<% content_for :header, "All Places" %>
<table id="places_table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody data-href='<%= get_places_places_path %>'>
  </tbody>
</table>
